<div class="text-center">
  <h1 class="display-3 mt-5 mb-4" >Welcome to the Auth Page</h1>
  <% if current_user %>
    <p>Welcome <%= current_user.email  %></p>
  <% else %>
    <div>
      <p>
        <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
          Sign Up &raquo;
        <% end %>
      </p>
    </div>
  <% end %>
</div>
